<!DOCTYPE html>
<html lang="en">

<body>

<div class="slideshow-container">
	<div class="slider-box">
		<div class="slider">

			<div class="mySlides">
				<%= link_to image_tag("2.jpg", :alt => " "), root_path %>
			</div>

			<div class="mySlides">
				<%= link_to image_tag("5.jpg", :alt => " "), root_path %>
			</div>

			<div class="mySlides">
				<%= link_to image_tag("4.jpg", :alt => " "), root_path %>
			</div>

			<div class="mySlides">
				<%= link_to image_tag("5.jpg", :alt => " "), root_path %>
			</div>

			<div class="mySlides">
				<%= link_to image_tag("2.jpg", :alt => " "), root_path %>
			</div>

			<div class="mySlides">
				<%= link_to image_tag("4.jpg", :alt => " "), root_path %>
			</div>

			<a class="prevhome" onclick="plusSlides(-1)">&#10094;</a>
		  <a class="nexthome" onclick="plusSlides(1)">&#10095;</a>
		</div>


	</div>

	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
		<span class="dot" onclick="currentSlide(4)"></span>
		<span class="dot" onclick="currentSlide(5)"></span>
		<span class="dot" onclick="currentSlide(6)"></span>
	</div>

</div>

<div  id="flag" class="second-nav">

	</div>

 <p>
 <div class="welcome">
		<div class="center welcome-content" >
			<h1 class="welcome-p"><b>
				Welcome to Shrug
			</b></h1>
			<br>
			<div class="btn-group">

				<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
				<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
			</div>

			<br>

			</div>

			<div class="center timings">
				<h1 class="welcome-p" >
					<p>
					Connect with the people around you!<br>
					</p>
					Make new friends!

				</h1>

			</div>


		</div>


		<div class="parallax-coffee">
			<div class="max-width">
				<div class="products">

					<div  class="center products-back color1">
						<h2 class="welcome-p"><strong>
							SHRUG</strong></h2>
							<p>
							<h3 style= "color:white;">Create local chat rooms to connect with nearby people!</h3>
							</p>




						</div>
					</div>
				</div>
			</div>




	<%= javascript_include_tag('application.js') %>

	</p>
	</body>
	</html>

  <script>
    startSlides();
    // app/assets/javascripts/slider.js
  </script>
